bitwarden2.focusedcreations.com {
  reverse_proxy /notifications/hub/negotiate {
    to bitwarden:80
  }
  reverse_proxy /notifications/hub {
    to bitwarded:3012
  }
  reverse_proxy * {
    to bitwarden:80
  }
}
